<div class="row cta">
<div class="container">
	<div class="cta col-md-5 no-pad">
			<h1>Creamos marcas, las hacemos crecer.</h1>
			<h4>Nos dedicamos a la creación y expansión <strong>de tu marca retail</strong> a través de la <strong>imágen, tecnología y marketing 360º</strong>. </h4>
			<button class="btn btn-primary cta-button">Cuéntanos tu proyecto</button>
	</div>
	<div class="col-md-7">
	<section class="slider">
		<% @services.limit(12).each do |s| %>
		<% if s.id == 10 %>
			<div class="slide slide--current" data-content="content-1-<%= s.id %>">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="" width="200px">
						<div class="preview">
							<%= image_tag "slider-1.png" %>
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title">
					<span class="red"><%= s.slogan %></span> 
					<%= s.name %>
					<%= link_to "<p class='saber-mas'>Click para saber más</p>".html_safe, s, locals: {s: s}, class: "title-action" %>
				</h2>
			</div>
			<% else %>
			<div class="slide" data-content="content-1-<%= s.id %>">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="" width="200px">
						<div class="preview">
							<%= image_tag "slider-1.png" %>
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title">
					<span class="red"><%= s.slogan %></span> 
					<%= s.name %>
					<%= link_to "<p class='saber-mas'>Click para saber más</p>".html_safe, s, locals: {s: s}, class: "title-action" %>
				</h2>
			</div>
			<% end %>
			<% end %>
			<nav class="slider__nav">
				<button class="button button--nav-prev"><i class="icon-left"></i><span class="text-hidden">Mas</span></button>
				<button class="button button--nav-next"><i class="icon-forward"></i><span class=""></span></button>
			</nav>
		</section>
		<!-- /slider-->
		</div>
</div>
</div>
</div>
<section class="clients-list row no-gutter">
	<ul class="clearfix no-gutter">
		<% @works.each do |w| %>
			<li class="col-sm-4 work">
			<%= image_tag w.cover_url(:big) %>
				<span class="work-details">
					<h3><%= w.title %></h3>
					<p><%= w.brief %></p>
					<%= link_to "<button class='btn btn-outline-white'>Ver proyecto </button>".html_safe, w, locals: {w: w} %>
				</span>
			</li>
		<% end %>
	</ul>
</section>
<section id="feature-list" class="feature-list container">
		<h2 class="text-center"> ¿Qué hacemos?</h2>
		<h4 class="text-center">Despegamos tu negocio con un desarrollo 360º</h4>
		<ul class="row clearfix">
			<% @services.each_with_index do |s, index| %>
				<% if index < 2 || index > 4 %> 
					<li class="col-sm-6">
						<div class="row no-gutter work-inner clearfix">
							<div class="work-image" style="background-image: url(<%= s.teaser_url %>);">
							<h1 class="work-slogan"><%= s.slogan %></h1>
							</div>
							<div class="work-detail clearfix">
								<div class="col-sm-8 work-title">
									<h2><%= s.name %></h2>
								</div>
								<div class="col-sm-4 work-action">
									<%= link_to "<button class='btn btn-primary'>Lo quiero</button>".html_safe, s, locals: {s: s} %>
								</div>
							</div>
						</div>
					</li>
				<% elsif index.between?(2,4) %>
					 <li class="col-sm-4">
						<div class="row no-gutter work-inner clearfix">
							<div class="work-image" style="background: url'(s.teaser_url)' 50% 50% no-repeat;"></div>
							<div class="work-detail clearfix">
								<div class="col-sm-8 work-title">
									<h2><%= s.name %></h2>
									<p><%= s.description %></p>
								</div>
								<div class="col-sm-4 work-action">
									<%= link_to "<button class='btn btn-primary'>Lo quiero</button>".html_safe, s, locals: {s: s} %>
								</div>
							</div>
						</div>
					</li>
			<% end %>
			<% end %>
		</ul>
</section>

<%= javascript_include_tag "slider" %>
<script>
$(document).ready(function() {
	setTimeout(function() { $(".cta-button").fadeIn(1500)}, 2500);
});

$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 900, 'swing', function () {
	        window.location.hash = target;
	    });
	});
});
</script>
